 #AboutDetail {
halign:center;
height:700;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#ededed;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
padding-left:8;
padding-right:8;
halign:LEFT;
height:44.0;
color:#323232;
background:#ffffff;
font-size:20;
layout:hbox;
width:fill;
font-family:default;
valign:center;
}
 #button0 {
padding-left:20;
halign:left;
height:44;
width:44;
background-image:icon_back.png;
}
 #label0 {
halign:center;
height:2;
color:#000000;
font-size:14;
background:#ec9e34;
width:fill;
font-family:default;
valign:center;
}
 #panel0 {
padding-left:10;
padding-right:10;
padding-top:5;
halign:center;
height:0;
weight:1;
layout:vbox;
background:#ffffff;
width:fill;
valign:TOP;
padding-bottom:10;
}
 #label1 {
halign:center;
height:wrap;
color:#000000;
heightWrap:24.0;
font-size:18;
background:#ffffff;
width:fill;
font-family:default;
valign:center;
}
 #label2 {
halign:left;
height:wrap;
color:#000000;
heightWrap:21.0;
font-size:16;
width:fill;
font-family:default;
margin-top:10;
font-weight:bold;
valign:center;
}
 #label3 {
halign:left;
height:wrap;
color:#686868;
heightWrap:180.0;
background:#ffffff;
font-size:14;
width:fill;
font-family:default;
valign:top;
}
 #label4 {
halign:left;
height:wrap;
color:#000000;
heightWrap:21.0;
font-size:16;
width:fill;
font-family:default;
margin-top:10;
font-weight:bold;
valign:center;
}
 #label5 {
halign:left;
height:wrap;
color:#686868;
heightWrap:70.0;
background:#ffffff;
font-size:14;
width:fill;
font-family:default;
valign:top;
}
 #label6 {
halign:left;
height:wrap;
color:#000000;
heightWrap:21.0;
font-size:16;
width:fill;
font-family:default;
margin-top:10;
font-weight:bold;
valign:center;
}
 #label7 {
halign:left;
height:wrap;
color:#686868;
heightWrap:70.0;
background:#ffffff;
font-size:14;
width:fill;
font-family:default;
valign:top;
}
 #label8 {
halign:left;
height:wrap;
color:#000000;
heightWrap:21.0;
font-size:16;
width:fill;
font-family:default;
margin-top:10;
font-weight:bold;
valign:center;
}
 #label9 {
halign:left;
height:wrap;
color:#686868;
heightWrap:40.0;
background:#ffffff;
font-size:14;
width:fill;
font-family:default;
valign:top;
}
 #label10 {
halign:left;
height:wrap;
color:#000000;
heightWrap:21.0;
font-size:16;
width:fill;
font-family:default;
margin-top:10;
font-weight:bold;
valign:center;
}
 #label11 {
halign:left;
height:wrap;
color:#686868;
heightWrap:85.0;
background:#ffffff;
font-size:14;
width:fill;
font-family:default;
valign:top;
}
