 #Home {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#ededed;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
padding-right:8;
padding-left:8;
halign:LEFT;
height:44.0;
color:#323232;
font-size:20;
layout:hbox;
background:#ffffff;
width:fill;
font-family:default;
valign:center;
}
 #imagebutton0 {
width:44;
icon-width:25;
font-pressed-color:#e50011;
icon-height:25;
height:44;
font-size:10;
icon-background-image:head_my.png;
icon-text-spacing:3;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #button0 {
height:44;
widthWrap:51.0;
color:#e50011;
font-size:16;
width:wrap;
}
 #label1 {
halign:center;
height:2;
color:#000000;
font-size:14;
background:#ec9e34;
width:fill;
font-family:default;
valign:center;
}
 #imageflipper0 {
height:144;
width:fill;
}
 #panel0 {
halign:LEFT;
height:0;
weight:1;
layout:hbox;
width:fill;
valign:center;
}
 #panel1 {
halign:CENTER;
height:fill;
weight:1;
layout:hbox;
width:0;
margin-left:10;
margin-top:10;
valign:center;
}
 #imagebutton2 {
width:88;
icon-width:64;
icon-height:64;
height:88;
color:#232323;
font-size:14;
icon-background-image:head_truck.png;
icon-text-spacing:3;
}
 #panel2 {
margin-right:10;
halign:CENTER;
height:fill;
weight:1;
layout:hbox;
width:0;
margin-top:10;
valign:center;
}
 #imagebutton3 {
width:88;
icon-width:64;
icon-height:64;
height:88;
color:#232323;
font-size:14;
icon-background-image:head_pre.png;
icon-text-spacing:3;
}
 #panel3 {
halign:LEFT;
height:0;
weight:1;
layout:hbox;
width:fill;
valign:center;
}
 #panel4 {
halign:CENTER;
height:fill;
weight:1;
layout:hbox;
width:0;
margin-left:10;
margin-bottom:10;
valign:center;
}
 #imagebutton4 {
width:88;
icon-width:64;
icon-height:64;
height:88;
color:#232323;
font-size:14;
icon-background-image:head_query.png;
icon-text-spacing:3;
}
 #panel5 {
margin-right:10;
halign:CENTER;
height:fill;
weight:1;
layout:hbox;
width:0;
margin-bottom:10;
valign:center;
}
 #imagebutton5 {
width:88;
icon-width:64;
icon-height:64;
height:88;
color:#232323;
font-size:14;
icon-background-image:head_customerservice.png;
icon-text-spacing:3;
}
