 #Login {
halign:center;
height:520;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#f0f0f0;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
halign:center;
height:0;
weight:3;
layout:vbox;
background:#f0f0f0;
width:fill;
valign:CENTER;
}
 #image0 {
height:120;
width:120;
}
 #panel1 {
margin-right:10;
halign:center;
height:250;
border-radius:15;
background:#f0f0f0;
layout:vbox;
width:fill;
margin-left:10;
valign:TOP;
}
 #panel3 {
border-bottom-width:1;
halign:LEFT;
border-radius:5;
width:fill;
border-bottom-color:#b6b6b6;
border-top-width:1;
border-left-color:#b6b6b6;
border-top-color:#b6b6b6;
height:44;
border-right-color:#b6b6b6;
background:#ffffff;
layout:hbox;
border-right-width:1;
margin-top:10;
valign:center;
border-left-width:1;
}
 #imagebutton0 {
width:44;
icon-width:25;
font-pressed-color:#e50011;
icon-height:25;
height:44;
font-size:10;
icon-background-image:signin_head.png;
icon-text-spacing:3;
}
 #textbox0 {
halign:LEFT;
height:44;
weight:1;
color:#a6a6a6;
font-size:14;
width:0;
font-family:default;
}
 #imagebutton1 {
width:44;
icon-width:20;
font-pressed-color:#e50011;
icon-height:20;
height:44;
font-size:10;
icon-background-image:signin_delete.png;
icon-text-spacing:3;
}
 #panel4 {
border-bottom-width:1;
halign:LEFT;
border-radius:5;
width:fill;
margin-bottom:5;
border-bottom-color:#b6b6b6;
border-top-width:1;
border-left-color:#b6b6b6;
border-top-color:#b6b6b6;
height:44;
border-right-color:#b6b6b6;
background:#ffffff;
layout:hbox;
border-right-width:1;
margin-top:-1;
valign:center;
border-left-width:1;
}
 #imagebutton3 {
width:44;
icon-width:25;
font-pressed-color:#e50011;
icon-height:25;
height:44;
font-size:10;
icon-background-image:signin_cipher.png;
icon-text-spacing:3;
}
 #textbox1 {
halign:LEFT;
height:44;
weight:1;
color:#a6a6a6;
font-size:14;
width:0;
font-family:default;
}
 #imagebutton2 {
width:44;
icon-width:20;
font-pressed-color:#e50011;
icon-height:20;
height:44;
font-size:10;
icon-background-image:signin_delete.png;
icon-text-spacing:3;
}
 #panel5 {
margin-right:10;
halign:RIGHT;
height:44;
layout:hbox;
background:#f0f0f0;
width:fill;
margin-left:10;
valign:center;
}
 #switch0 {
height:32;
background:#167ef8;
width:51;
}
 #label0 {
halign:center;
height:wrap;
widthWrap:60.0;
color:#167ef8;
heightWrap:19.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #button0 {
border-bottom-width:1;
border-radius:5;
width:fill;
margin-bottom:5;
font-pressed-color:#00a1ea;
border-bottom-color:#ec5f1a;
border-top-width:1;
border-left-color:#ec5f1a;
border-top-color:#ec5f1a;
height:44;
border-right-color:#ec5f1a;
background:#ec4a48;
border-right-width:1;
margin-top:5;
border-left-width:1;
}
 #panel6 {
margin-right:5;
halign:LEFT;
height:44;
layout:hbox;
background:#f0f0f0;
width:fill;
margin-left:5;
valign:center;
}
 #label1 {
halign:left;
height:40;
weight:1;
color:#167ef8;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label2 {
halign:right;
height:40;
weight:1;
color:#167ef8;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel2 {
halign:center;
height:0;
weight:2;
layout:vbox;
background:#f0f0f0;
width:fill;
valign:TOP;
}
